.ai-image-generator{
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 20px;
    gap: 30px;
}

.header{
    font-size: 70px;
    font-weight: 500;
    padding-bottom: 30px;
}

.header span{
    color: rgb(150, 46, 86);
    font-weight: 600;
}

.img-loading{
    display: flex;
    flex-direction: column;
}

.img-loading img{
    width: 512px;
}

.search-box{
    display: flex;
    width: 1000px;
    height: 75px;
    justify-content: space-around;
    align-items: center;
    border-radius: 50px;
    background: rgba(61, 87, 61, 0.596);

}

.search-input{
    width: 600px;
    height: 50px;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 28px;
    color: white;
    padding-left: 35px;
    margin-right: 35px;

}

.search-input::placeholder{
    color: #999;
}

.generate-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 85px;
    font-size: 20px;
    border-radius: 50px;
    background: rgb(158, 72, 106);
    cursor: pointer;
}

.loading-bar{
     width: 0px;
     height: 8px;
     background: #940c0c;
}

.loading-text{
    font-size: 18px;
}

.loading-bar-full{
    width: 512px;
    height: 8px;
    background: #940c0c;
    transition: 25s;
}

.display-none{
    display: none;
}